@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Custom scrollbar to make it look even better */
body {
  background-color: #1b2838; /* Steam Dark Blue */
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #171a21;
}
::-webkit-scrollbar-thumb {
  background: #2a475e;
  border-radius: 5px;
}